.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  min-height: 100vh;
  padding: 2rem;
}

.post {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order {
  display: flex;
  gap: 1rem
}